/* body reseten und Schriften festlegen */
body {
    margin: 0;
    padding: 0;
    font: 15px Arial, Verdana, sans-serif;
}


/* divs für den Tage feslegen */
div#qgmv-day0 {
    display: none; /* Display ist standardmäßig auf none und wird vom JS Code auf block gesetzt, wenn ein PLan für den Tag da ist */
    float: left;
    width: 49%;
    margin: 0.2em;
    margin-top: 0.5em;
    /*border: 1px red solid;*/
}

div#qgmv-day1 {
    display: none; /* Display ist standardmäßig auf none und wird vom JS Code auf block gesetzt, wenn ein PLan für den Tag da ist */
    float: right;
    width: 49%;
    margin: 0.2em;
    margin-top: 0.5em;
    /*border: 1px green solid;*/
}


/* divs für die einzelenen Segmente des Plans festlegen */
div#qgmv-old-plan-warning {
    display: none;
    background: #fff242;
    border: 2px solid grey;
    padding: 10px;
    margin: 15px;
}

div.qgmv-warnmsg {
    background: #ffcc00;
    border: 3px solid red;
    padding: 10px;
    margin: 15px;
    font-size: 1.5em;
}

div.qgmv-header {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 8px;
    margin-bottom: 0.8em;
    background: white;
}

div.qgmv-abw {
    margin-bottom: 0.8em;
}

div.qgmv-bibe {
    display: none; /* Display ist standardmäßig auf none und wird vom JS Code auf block gesetzt, wenn ein Bitte Beachten für den Tag da ist */
    background: #ffe4e3;
    border: 1px solid red;
    padding: 6px;
    margin-bottom: 6px;
}


/* Elemente im Header */
div.qgmv-vinfo {
    text-align: right;
    font-size: 0.8em;
    color: #999;
    /*float: right;*/
}

div.qgmv-ortinfo {
    text-align: left;
    font-size: 0.8em;
    color: #999;
    float: left;
}


/* Elemente innerhalb des Abwesenheitskastens. */
span.qgmv-abw-title {
    font-weight: bold;
}


div#qgmv-day0-plantable, div#qgmv-day1-plantable {
   overflow-y: scroll;
}

table.qgmv-table { /* die eigentliche Tabelle */
    width: 100%;
    background: white;
}

.qgmv-vdurch { /* die Überschriften Zeile der Tabelle, die Spalte "vertr. druch" */
    width: 10em;
}

.qgmv-evenrow { /* Unterscheidung von geraden und ungeraden Reihen */
    background: #cfcfcf;
}

.qgmv-newrow { /* Textmarker-Ersatz für neue Reihen */
    background:   rgb(183, 161, 202)/* #8bd6f8    /*orange*/ ;
}

.qgmv-graderow {
    width: 100%;
    font-weight: bold;
    background-color: #FFE273;
}


/*spans mit Bildern für Replacements*/
span.qgmvaktuell{
    background: yellow;
    padding: 0.2em;
    border-radius: 0.3em;
    font-size: 0.5em;
    float: right;
}

span.qgmvgreen {
    border-left: 1.15em solid  green;
    padding-left: 0.3em;
}
span.qgmvred {
    border-left: 1.15em solid  red;
    padding-left: 0.3em;
}
span.qgmvorange {
    border-left: 1.15em solid  orange;
    padding-left: 0.3em;
}
span.qgmvblack {
    border-left: 1.15em solid  black;
    padding-left: 0.3em;
}

/* Schrift wirkt nicht so gequetscht -> mehrt Abstand zwischen den Zellen*/
td {
    padding: 0.2em;
    
}


/* Abigag Kasten */
div.abigag-kasten {
    background-color: orange;
    height: 2em;
    text-align: center;
}

.abigag-tr {
    background-color: rgba(128,128,128,0.4);
}

.abigag-rainbow-text {
    /*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: gray;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;*/
}

.abigag-space {
    margin-top: 5em;
}